<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portofolio</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <script
      src="https://kit.fontawesome.com/02ff50aeed.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="w-[70%] h-screen bg-slate-800 fixed">
      <div
        class="rounded-full overflow-hidden h-32 w-32 border-8 border-slate-400 mx-auto mt-12"
      >
        <img src="../assets/img/profile.jpg" class="object-cover" />
      </div>
      <div class="mt-3">
        <h4 class="text-center text-2xl font-semibold text-slate-200">
          Fire Raindi
        </h4>
        <ul class="flex mx-auto justify-center gap-2 mt-8">
          <li
            class="rounded-full bg-slate-400 h-8 w-8 flex items-center justify-center hover:bg-sky-400"
          >
            <a target="_blank" href="https://github.com/fireraindi">
              <i class="fa-brands fa-github text-white"></i>
            </a>
          </li>
          <li
            class="rounded-full bg-slate-400 h-8 w-8 flex items-center justify-center hover:bg-sky-400"
          >
            <a
              target="_blank"
              href="https://www.linkedin.com/in/fire-raindi-rantau-20b3bb277?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            >
              <i class="fa-brands fa-linkedin-in text-white"></i>
            </a>
          </li>
          <li
            class="rounded-full bg-slate-400 h-8 w-8 flex items-center justify-center hover:bg-sky-400"
          >
            <a target="_blank" href="https://wa.me/6282159360485">
              <i class="fa-brands fa-whatsapp text-white"></i>
            </a>
          </li>
          <li
            class="rounded-full bg-slate-400 h-8 w-8 flex items-center justify-center hover:bg-sky-400"
          >
            <a target="_blank" href="mailto:fireraindy@gmail.com">
              <i class="fa-regular fa-envelope text-white"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="mx-auto w-3/4 mt-10">
        <ul class="space-y-10">
          <li class="w-0">
            <a href="#home" class="flex items-center group"
              ><i
                class="fa-solid fa-house text-slate-400 mr-2 group-hover:text-sky-400"
              ></i
              ><span class="text-xl text-slate-400 group-hover:text-slate-100"
                >Home</span
              ></a
            >
          </li>
          <li class="w-0">
            <a href="#home" class="flex items-center group"
              ><i
                class="fa-solid fa-user text-slate-400 mr-3 group-hover:text-sky-400"
              ></i
              ><span class="text-xl text-slate-400 group-hover:text-slate-100"
                >About</span
              ></a
            >
          </li>
          <li class="w-0">
            <a href="#home" class="flex items-center group"
              ><i
                class="fa-solid fa-bars-progress fa-rotate-270 text-slate-400 mr-2 group-hover:text-sky-400"
              ></i
              ><span class="text-xl text-slate-400 group-hover:text-slate-100"
                >Portofolio</span
              ></a
            >
          </li>
          <li class="w-0">
            <a href="#home" class="flex items-center group"
              ><i
                class="fa-solid fa-address-book text-slate-400 mr-2 group-hover:text-sky-400"
              ></i
              ><span class="text-xl text-slate-400 group-hover:text-slate-100"
                >Contact</span
              ></a
            >
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
